<div class="media">
  <div class="media-body">
     <% @photos.each do |photo| %>
       <%= image_tag photo.image.url %>
       <%= photo.title %>
       <%= link_to 'Delete', photo_path(photo), method: :delete, data: {confirm: 'Are you sure?'} %>
       <%= link_to 'Edit title', edit_photo_path(photo) %>
     <% end %>
  </div>
</div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="row-images">
        <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid">
        </a>
        <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid">
        </a>
        <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid">
        </a>
      </div>
      <div class="row-images">
        <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid">
        </a>
        <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid">
        </a>
        <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid">
        </a>
      </div>
    </div>
  </div>
