<div class="media">
  <div class="media-body">
     <% @photos.each do |photo| %>
       <%= image_tag photo.image.url %>
       <%= photo.title %>
       <%= link_to 'Delete', photo_path(photo), method: :delete, data: {confirm: 'Are you sure?'} %>
       <%= link_to 'Edit title', edit_photo_path(photo) %>
     <% end %>
  </div>
</div>
