<div class="container">
  <div class="jumbotron" style="text-align: center">
    <div class="row">
      <div class="col-md-12">
        <h4 class="lobster">Welcome <%= current_user.first_name %></h4>
        <div class="media-body">
          <%= image_tag(current_user.avatar.url(:medium)) %>
        </div>
        <p class="lead" style="padding: 0.5rem" id= "text-id"><p>Timber is a private network where you can share your photo albums with your family.
        Start by inviting your family members to Timber.</p>
      </div>
    </div>
  </div>
</div>
