<h1>Timber</h1>
<p>Social family platform</p>
<p>
  Photo sharing
</p>
<%#= form_for @photos do |f| %>
  <!-- <div class="form-group">
        <%#= f.submit 'Upload Photo', class: 'btn btn-default' %>
  </div>
<%# end %> -->
