<div class="bg-container">
<div class="container">
  <div class="jumbotron" style="text-align: left">
    <div class="row">
      <div class="col-8">
        <h4 class="lobster">Social family platform</h4>
        <p class="lead"><p>Lorem ipsum dolor amet narwhal viral chicharrones crucifix, shabby chic <br>
          mustache fam. Pok pok bushwick blue bottle live-edge YOLO.</p>
      </div>
    <div class="col-4">
      <div class="btn-group">
        <%= button_to 'Log in', new_user_session_path, class: "btn btn-success btn-space" %>
        <%= button_to 'Sign up', new_user_registration_path, class: "btn btn-outline-success btn-space" %>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron" style="text-align: left">
  <div class="row">
    <div class="col-4">
      <img src="http://www.lisaeriksson.net/timber/father_daughter.jpg">
    </div>
    <div class="col-8" style="text-align: left">
      <h4 class="lobster">Photo sharing</h4>
      <p>8-bit green juice sustainable schlitz mumblecore, waistcoat fingerstache roof party
        vexillologist ethical hell of dreamcatcher meggings iceland.</p>
    </div>
    </div>
  </div>
</div>
</div>
