<h1>Timber</h1>
<p>Social family platform</p>
<p>
  Photo sharing
</p>
<%#= form_for @photos do |f| %>
  <!-- <div class="form-group">
        <%#= f.submit 'Upload Photo', class: 'btn btn-default' %>
  </div>
<%# end %> -->
<p>
<% if current_user %>
  <span>Logged in as: <strong><%= current_user.email %></strong></span>
  <%= link_to 'Log out', destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to 'Sign up', new_user_registration_path, :class => 'navbar-link'  %>
  <%= link_to 'Log in', new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
