<div class="body-background">
  <div class="container">
    <div class="jumbotron" style="text-align: left">
      <div class="row">
        <div class="col-md-8">
          <h4 class="lobster">Social family platform</h4>
          <p class="lead"><p>Timber is a private network where you and your family can collaborate on shared family trees.
          Sign up and invite family members to join your family channels!</p>
        </div>
      <div class="col-md-4">
        <!-- <div class="btn-group">
          <%#= link_to 'Log in', new_user_session_path, class: "btn btn-success btn-space" %>
          <%#= link_to 'Sign up', new_user_registration_path, class: "btn btn-outline-success btn-space" %>
        </div> -->
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4">
        <div id="img1">
          <img src="http://www.lisaeriksson.net/timber/tree_01.jpg" class="img-responsive img-thumbnail" >
        </div>
        <div id="img2">
          <img src="http://www.lisaeriksson.net/timber/family_02.jpg" class="img-responsive img-thumbnail" >
        </div>
        <div id="img3">
          <img src="http://www.lisaeriksson.net/timber/family_03.jpg" class="img-responsive img-thumbnail" >
        </div>
        <div id="img4">
          <img src="http://www.lisaeriksson.net/timber/father_daughter.jpg" class="img-responsive img-thumbnail" >
        </div>
        <!-- <img src="http://www.lisaeriksson.net/timber/father_daughter.jpg" class="img-responsive img-thumbnail" > -->
      </div>
        <div class="col-md-8" style="text-align: left">
          <h4 class="lobster">Photo sharing</h4>
          <p>Create albums together with your family as you simultaneously back up your photos. Timber lets you share cherished memories privately
            with your inner circle.</p>
        </div>
      </div>
    </div>
  </div>
</div>
