<div class="page-header">
    <h1>Shared albums</h1></div>


<div class="container">  
   <div class="row"> 
    <div class="col">
      <div align="center" id="myCarousel" class="carousel slide mx-auto" data-ride="carousel"> 
      <% @recent_photos.each do |photo| %>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item">
            <%= image_tag photo.image.url, class: "d-block image_fluid" %> 
          </div>
        </div>
       <% end %> 
       <div class="col">
        <% @albums.each do |album| %>
         <div class="row justify-content-center" id="albumshared">
              <%= link_to album.title, album_path(album) %>
          </div>
        </div>
        <% end %> 
    </div>
   </div>
  </div>
</div>
