<h1>Add members to your family tree!</h1>

<%= form_for(@member) do |f| %> -->
  First name<%= f.text_field(:first_name) %>
  Last name<%= f.text_field(:last_name) %>
  Relationship<%= f.text_field(:relationship) %>
<% end %>
