@import 'bootstrap';

body {
  text-align: center;
}

#navbar {
    margin: 4px;
    padding: 8px;
    height: 70px;
}

#timber {
    font-family: 'Lobster';
    font-size: 35px;
    color: rgb(205, 205, 205);
    text-align: center;
}

#loggedin {
    padding-right: 1.25em;
    font-size: 13px;
    color: rgb(205, 205, 205);
}

.nav-item {
     padding: 2.5em;
     color: rgb(205, 205, 205);
}

.h6 {
     text-align: center;
}
