@import 'bootstrap';
@import 'lightbox-bootstrap';

body {
  text-align: center;
}

a:hover {
  color: #4F544B;
}

a {
  color: #4F544B;
  font-weight: bold;
}

.h6 {
  text-align: center;
}

.padding-left-nav {
  padding-left: 3em;
}

.padding-right-nav {
  padding-right: 3em;
}

.row {
  padding-bottom: 1em;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0);
}

//Typography

.lobster {
  font-size: 2.5rem;
  font-family: 'Lobster';
  padding-bottom: 1rem;
  color: #69695d;
}

.center-text {
  text-align: center;
}

.jumbotron {
  padding: 6rem 3rem;
}

//Navigation

.nav-logo {
  font-family: 'Lobster';
  font-size: 2.5em;
}

.nav-item {
     padding-right: 0.75em;
     padding-left: 0.75em;
     color: #94958C;
}

.navbar-green {
  background-color: rgb(223, 247, 225);
}

.btn-group {
  padding: 2rem;
}

.btn-space {
  margin-right:1rem;
}

.btn {
  padding: .5rem 2rem;
}

//Images

.bg-container {
  // background-image: url("https://images.unsplash.com/photo-1458966480358-a0ac42de0a7a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b1c52d3399307f190e2af338b31d9c7c&auto=format&fit=crop&w=1500&q=80");
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: center;
  background-color: #b7d6aa;
}

//Footer

footer {
  background-color: #69695d;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5rem;
  line-height: 4rem;
}

.footer-text {
  color: #FFF;
}
