@import 'bootstrap';
@import 'lightbox-bootstrap';

body {
  background: transparent;
  margin-bottom: 80px;
  text-align: center;
}

p {
  color: #4F544B;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 1rem;
  font-weight: bold;
}

html {
  background: linear-gradient(to bottom, rgb(223, 247, 225), rgb(240, 240, 230));
  min-height: 100%;
  position: relative;
}

a:hover {
  color: #4F544B;
}

a {
  color: #4F544B;
  font-weight: bold;
}

.h6 {
  text-align: center;
}

.padding-left-nav {
  padding-left: 3em;
}

.padding-right-nav {
  padding-right: 3em;
}

.row-images {
  padding-bottom: 1em;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0);
  padding: 1rem;
}

.extra-padding {
  padding: 3rem;
}

//Typography

#photo-title {
  font-family: 'Courier New';
}

.lobster {
  color: #69695d;
  font-family: 'Lobster';
  font-size: 3rem;
  padding-bottom: 1rem;
  text-shadow: 0 1px 1px #FFF;
}

.page-header {
  color: #69695d;
  font-family: 'Lobster';
  font-size: 3rem;
  padding: 1rem;
  text-shadow: 0 1px 1px #FFF;
}

.center-text {
  text-align: center;
}

//Navigation

.nav-logo {
  color: #69695d;
  font-family: 'Lobster';
  font-size: 2.5em;
  text-shadow: 0 1px 1px #fff;
}

.nav-item {
  color: #69695d;
  padding-left: .75em;
  padding-right: .75em;
}

.navbar-green {
  background-color: rgb(223, 247, 225);
}

.btn-group {
  padding: 2rem;
}

.btn-space {
  margin-right: 1rem;
}

.btn {
  padding: .5rem 2rem;
}

.btn-primary {
  background-color: #44B583;
  border-color: #44B586;
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  background-color: #2b9b69;
  border-color: #2b9b69;
  color: #fff;
}

//Images

%image-size {
  height: 150px;
  width: 150px;
}

%box-shadow {
  box-shadow: 0 2px 2px #ccc;
}

#img1 {
  @extend %image-size;
  position: absolute;
  right: 90px;
  top: -90px;
  transform: rotate(-3deg);
  @extend %box-shadow;
}

#img2 {
  @extend %image-size;
  position: absolute;
  right: 50px;
  top: 25px;
  transform: rotate(5deg);
  @extend %box-shadow;
}

#img3 {
  @extend %image-size;
  position: absolute;
  right: 30px;
  top: -30px;
  transform: rotate(-5deg);
  @extend %box-shadow;
}

#img4 {
  @extend %image-size;
  position: absolute;
  right: 70px;
  top: -25px;
  transform: rotate(5deg);
  @extend %box-shadow;
}

#img5 {
  right: 0;
  top: 0;
}

.round-image-24 {
  background-color: #b7d6aa;
  border: 1px solid #d9d9d9;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  height: 24px;
  overflow: hidden;
  text-align: center;
  width: 24px;
  img { width: 170% };
}

//Footer

.footer {
  background-color: #69695d;
  bottom: 0;
  height: 60px;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
}

.footer-text {
  color: #FFF;
  font-size: .75rem;
  padding: 1em;
}

//Carousel

.carousel-slide .carousel-inner .carousel-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 600px;
}

.carousel-inner > .carousel-item> img {
  background-position: center center;
  margin: 0 auto;
}

.carousel-control-prev {
  color: #69695d;
}

#albumshared {
  color: #69695d;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 2rem;
  padding-left: 2em;
}
